################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSASolutions/bin/Debug/net7.0
/.vs
/DSASolutions/obj
/DSASolutions/.vs
